@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;700&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

::selection {
  background-color: rgba(173, 0, 0, 0.3);
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color: #252525;
  background-color: #fcf7f7;
}

h1,
h2 {
  font-family: Poppins, sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

#nav-text {
  font-size: 180%;
  margin-left: 5px;
  margin-bottom: 0;
  float: right;
}

.nav-link {
  color: #ad0000 !important;
  font-size: 120%;
  letter-spacing: 2px;
  font-weight: bold;
}

.nav-link:hover,
.social-icons i:hover {
  position: relative;
  bottom: 5px;
  box-shadow: 0 5px 5px -2px #ad0000;
  cursor: crosshair;
}

.navbar-toggler {
  border: 2px solid #ad0000 !important;
  background-color: #fff !important;
}

.navbar-light .navbar-toggler {
  color: rgba(173, 0, 0, 0.3);
}
.navbar-collapse .nav-link {
  text-align: right;
}

.carousel-item {
  max-height: 650px;
  background: #ad0000;
}

/* hero section */

#carouselHero .carousel-item:before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    rgba(173, 0, 0, 0.1),
    rgba(0, 0, 0, 0.9)
  );
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 650px;
}

.carousel-caption {
  bottom: 10%;
  z-index: 999;
  background-color: rgba(175, 44, 44, 0.4);
  box-shadow: 1px 1px 25px #fff;
}

.carousel-caption h3 {
  font-size: 190%;
}

.carousel-caption p {
  font-size: 120%;
  margin-bottom: 0;
}

/* about section */

#about {
  width: 80%;
  margin: 45px auto;
}

.center-text {
  text-align: center;
  font-size: 110%;
}

.center-text h2 {
  margin-bottom: 15px;
}

span {
  color: #ad0000;
  font-weight: bold;
}

.border-shadow {
  box-shadow: 1px 1px 25px #ad0000;
}

.no-padding {
  padding-right: 0;
}

#about a {
  color: #ad0000;
  text-decoration: none;
  cursor: crosshair;
}

#about a:hover {
  text-decoration-line: underline;
  font-weight: bold;
}

#about img {
  display: block;
  margin: 25px auto;
  width: 40%;
}

th {
  font-size: 110%;
  text-decoration: underline;
}

/* gallery */

.gallery {
  display: flex;
  margin-bottom: 45px;
  width: 100%;
  flex-wrap: wrap;
}

.gallery div {
  overflow: hidden;
  flex: 25%;
  cursor: crosshair;
  background-color: #ad0000;
}

.gallery img {
  transition: all 0.7s ease-in-out;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.gallery img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.quote {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px 0;
  background: #ad0000;
  background: linear-gradient(rgba(173, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(../images/quote-picture.jpg);
  background-attachment: fixed;
  background-position: center;
}

.quote q {
  font-weight: bold;
  font-style: italic;
  width: 80%;
  color: #fff;
}

/* Contact form */

.form-control:focus {
  box-shadow: 1px 1px 10px #ad0000;
  border: 1px solid #ad0000;
}

.interests label {
  margin-right: 15px;
}

.contact-btn {
  box-shadow: 1px 1px 10px #ad0000;
  padding: 5px 15px;
  font-weight: bold;
}

.contact-btn:hover {
  color: #ad0000;
  background: #fff;
  border: 2px solid #ad0000;
}

footer {
  background-color: rgba(173, 0, 0, 0.8);
  text-align: center;
}

.social-icons {
  padding-top: 3%;
  padding-left: 0;
}

.social-icons > li {
  display: inline;
  margin: 3%;
}

.social-icons i {
  font-size: 220%;
  margin: 0;
}

.social-icons i,
.copyrights {
  color: #fff;
}

.copyrights {
  font-size: 80%;
  padding: 2% 0;
}

@media all and (max-width: 992px) {
  .gallery div {
    flex: 33%;
  }
}

@media all and (max-width: 768px) {
  .gallery div {
    flex: 50%;
  }
}

@media all and (max-width: 576px) {
  .gallery div {
    flex: 100%;
  }

  .carousel-caption h3 {
    font-size: 160%;
    padding: 0 5px;
  }

  .quote q {
    font-size: 90%;
    width: 90%;
  }
}
