import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;700&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #252525;
}